.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: fixed;
  background: blueviolet;

    .app-header{
      font-size: 4em !important;
      margin-bottom: 1em;
    }

  .header{
    font-size: 2em;
    color: white;
    .text{
      color: burlywood;
    }
  }

  .table{
    width: 33%;
    .actions {
      font-size: 1.5em;
      display: flex;
      justify-content: space-between;
      align-items: center;
      :nth-child(1){
        color: darkblue;
        cursor: pointer;
      }
      :nth-child(2){
        margin: 0 1em;
      }
      :nth-child(3){
        color: red;
        cursor: pointer;
      }
    }
    tr{
      :nth-child(2){
        width: 30%;
      }
    }
    td{
      .header-icon {
        color: darkblue;
        font-size: 1.5em !important;
      }
      span.header-text {
        margin: 1em;
        font-size: 1.3em;
        color: darkblue;
        font-weight: 200;
    }
    }
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}